.profile__add-button {
  border: 2px solid #FFFFFF;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 31px 0;
  transition: opacity 1s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    min-width: 282px;
    margin: 34px auto 0;
  }
}
